.App {
    text-align: center;
}

.todo-item-wrapper {
    width: 500px;
    border: 1px solid black;
}

.todo-input {
    width: 400px;
    margin: auto 10px;
    text-align: center;
}

.add-button {
    width: 50px;
    background-color: #6495ee;
    margin: auto 10px;
}

.clear-button {
    margin: auto 10px;
    width: 50px;
    background-color: #6495ee;
}

.delete-button {
    background-color: #eff0ef;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.todo-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}